body {
	background-image: url(../images/templateNew/background.gif);
	background-repeat: repeat;
	margin: 0px;
    margin-bottom:10px;
    padding-top:6px;
	font-size: small;
	font-family: arial, sans-serif;
}
.topPane {
	margin-bottom:6px;
	height:100%;
}


#headerbar{
	background-image: url(../images/templateNew/bar.jpg);
	background-repeat: repeat-x;
	height: 50px;
	color:#FFFFFF;
	float:left;
	width:100%;
	display:block;
	clear:both;
}

.inputSearch {
	float:left;
	margin-left:181px;
	margin-top:10px;
}

#headerForm {
	float:left;
	padding:10px;
	vertical-align:middle;
}

#searchPane{
	float:right;
	padding-right:10px;
	padding-top:0px;
	background-image: url(../images/templateNew/search.jpg);
	background-position: top left;
	background-repeat: no-repeat;
}



a.publishLink:link, a.publishLink:hover, a.publishLink:visited, a.publishLink:active{
	color:#FFFFFF;
}

.midCenterPane {
	margin-left:5px;
	margin-right:auto;
	width: 99%;
	height: 100%;
	float:left;
}

.footer {
	margin-left:5px;
	margin-right:auto;
	width: 99%;
	float:left;
}

.dr-table-cell, .dr-table{
	border:none;
}
.dr-table-cell{
  vertical-align:top;
}

.advPane {
	float: none;
	width: 100%;
}

.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message dt {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message dt.infomsg {
	background-image: url(../images/templateNew/msginfo.png);
}

.message dt.errormsg {
	background-image: url(../images/templateNew/msgerror.png);
}

.message dt.warnmsg {
	background-image: url(../images/templateNew/msgwarn.png);
}

.advCol1{
	width: 80px;
}

.advCol2{
	width: 170px;
}

#star ul.star {
	LIST-STYLE: none;
	MARGIN: 0;
	PADDING: 0;
	WIDTH: 85px;
	HEIGHT: 20px;
	LEFT: 10px;
	TOP: -5px;
	POSITION: relative;
	FLOAT: left;
	BACKGROUND: url('images/stars.gif') repeat-x;
	CURSOR: pointer;
}

#star li {
	PADDING: 0;
	MARGIN: 0;
	FLOAT: left;
	DISPLAY: block;
	WIDTH: 85px;
	HEIGHT: 20px;
	TEXT-DECORATION: none;
	text-indent: -9000px;
	Z-INDEX: 20;
	POSITION: absolute;
	PADDING: 0;
}

#star li.curr {
	BACKGROUND: url('images/stars.gif') left 25px;
	FONT-SIZE: 1px;
}

#star div.user {
	LEFT: 15px;
	POSITION: relative;
	FLOAT: left;
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial;
	COLOR: #888;
}
